{% extends 'base.html' %}


{% block content %}
<div class="col-lg-8">
    <h1>Hi there!</h1>
    <hr>
    <!--My name is Dmitry, i am backend developer and big fan of Python.-->
    My name is Dmitry Fedotkin and at the moment,
    I work on web applications as a freelancer, primarily in Python, and i proudly use Django since 1.3 version.
    I am passionate about backend development and I'm happy to work with whatever platform is required.
    When i am not writing code or debugging, I enjoy playing my PlayStation 4.
    <br>
    <br>
    This blog will be a mixture of things. Originally, i decided to create my own blog once i realized that i have
    a bunch of gists. Most of them are cheatsheets or summaries of technologies, articles or books. Also i am going to
    make posts about issues and solutions from my software developer's life which i didnt manage to find in the google.
    And sometimes all these posts will be diluted by offtopic stuff and my own opinion about tech world news.
</div>
{% endblock %}