{% extends "base.html" %}
{% load thumbnail %}


{% block content %}

    <div class="col-md-8">
        <h1 class="page-header">
            Software Development
            <small>random thoughts</small>
        </h1>
        {% for entry in entry_list %}
            <h2>
                <a href="{% url 'entry' entry.slug %}">{{ entry.title }}</a>
            </h2>
            <p><span class="glyphicon glyphicon-time"></span> Posted on {{ entry.created|date:"F j, Y" }}</p>
            <hr>
            {% if entry.image %}
                {% thumbnail entry.image "900x300" crop="center" as im %}
                    <img class="img-responsive" src="{{ im.url }}" alt="">
                {% endthumbnail %}
            {% endif %}
            <hr>
            <p>{{ entry.preview_text }}</p>
            <a class="btn btn-primary" href="{% url 'entry' entry.slug %}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
            {% if not forloop.last %}
                <hr>
            {% endif %}
        {% endfor %}

        {% if is_paginated %}
            <hr>
            <ul class="pager">
                {% if page_obj.has_next %}
                    <li class="previous">
                        <a href="/blog?page={{ page_obj.next_page_number }}">&larr; Older</a>
                    </li>
                {% endif %}

                {% if page_obj.has_previous %}
                    <li class="next">
                        <a href="/blog?page={{ page_obj.previous_page_number }}">Newer &rarr;</a>
                    </li>
                {% endif%}
            </ul>
        {% endif %}
      </div>
{% endblock %}
